'.source.mzn':
  'import globals':
    'prefix': 'glob'
    'body': 'include "globals.mzn";$1'
  'array declaration':
    'prefix': 'arr'
    'body': 'array[$1] of ${2:int}: $3;$4'
  'forall':
    'prefix': 'for'
    'body': 'forall($1) (\t$2)$3'
  'sum':
    'prefix': 'sum'
    'body': 'sum($1) ($2)$3'

  'solve satisfy':
    'prefix': 'solve'
    'body': 'solve satisfy;$1'
  'solve minimize':
    'prefix': 'min'
    'body': 'solve minimize $1;$2'
  'solve maximize':
    'prefix': 'max'
    'body': 'solve maximize $1;$2'
